<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="Cafffe_Sytem.Properties.Settings.Coffee_SystemConnectionString" connectionString="Data Source=.;Initial Catalog=Coffee_System;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Coffee_Context" connectionString="metadata=res://*/A.M.A.Coffee_Context.csdl|res://*/A.M.A.Coffee_Context.ssdl|res://*/A.M.A.Coffee_Context.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Coffee_System;integrated security=True;encrypt=False;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Coffee_Context2" connectionString="metadata=res://*/Models.Coffee_Context.csdl|res://*/Models.Coffee_Context.ssdl|res://*/Models.Coffee_Context.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Coffee_System;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>